<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
  <handlers>
    <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
        scriptProcessor="C:\Python39\python.exe|C:\Python39\lib\site-packages\wfastcgi.py"
        resourceType="Unspecified" requireAccess="Script"/>
  </handlers>
</system.webServer>
<appSettings>
  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\todowoo"/>
  <!-- The handler here is specific to Bottle; see the next section. -->
 <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()"/> 
  <add key="DJANGO_SETTINGS_MODULE" value="todowoo.settings" />
</appSettings>

</configuration>

